fastapi
uvicorn[standard]
pysqlite3-binary
gunicorn
openai
sqlalchemy
python-dotenv
pydantic
msal
requests
Office365-REST-Python-Client
langchain
langchain-openai
langchain-community
chromadb
beautifulsoup4
lxml
python-multipart
PyPDF2
python-docx
