fastapi
uvicorn
openai
pyodbc
sqlalchemy
python-dotenv
pydantic
msal
requests
Office365-REST-Python-Client
langchain
langchain-openai
langchain-community
chromadb
beautifulsoup4
lxml
python-multipart
cors
PyPDF2
python-docx
